/* Style de la partie haute */

#top 
{
	border-width:1px;
	border-color:black;
	border-style:solid;
	width:100%;
	height:100px;
}

#links
{
	margin-top:110px;
}

.link
{
	display:inline;
}

/* Style du bloc de gauche */

#left 
{
	width:20%;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	margin-top:5px;
}

/* Style du bloc de connexion */

#connexion 
{
	font-size:14px;
}

#connexion legend
{
	text-align:center;
}

.txt_login
{
}

.txt_login,.txt_pwd 
{
	margin-top:4px;
}

.btn_connexion 
{
	
}

/* Style du bloc connecté */

#profil
{	
	border-width:1px;
	border-color:black;
	border-style:solid;
	text-align:center;
}

/* Style du menu */

#menu, #connexion 
{
	border-width:1px;
	border-color:black;
	border-style:solid;
	padding:5px;
}

#content 
{
	border-width:1px;
	border-color:black;
	border-style:solid;
	width:77.2%;
	margin-left:22%;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	text-align:center;
}



/* Style du footer */

#bottom
{
	clear:both;
	border-width:1px;
	border-color:black;
	border-style:solid;
	width:100%;
	height:20px;
	text-align:center;
}

.copyright
{
	margin:0px;
	padding:0px;
	font-style:italic;
}

/* Styles communs */

ul 
{
	margin:0px;
	padding-left:20px;
}

a
{
   text-decoration: none; /* Les liens ne seront plus soulignés */
   color: red; /* Les liens seront en rouge au lieu de bleu */
   font-style: italic; /* Les liens seront en italique (pourquoi pas ?) */
   font-size:14px;
}

a:hover /* Quand le visiteur pointe sur le lien */
{
   text-decoration: underline; /* Le lien deviendra souligné quand on pointera dessus */
   color: green; /* Le lien sera écrit en vert quand on pointera dessus */
}

